*{
  padding : 0px;
  margin: 0;
  box-sizing: border-box;
}
html,
body,
#root{
height: 100%;
width: 100%;

}


body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: aliceblue;


}

